<footer class="footer">

  <div class="container">

    <div>
      <ul>
        <li>
          <a href="#">Resources</a>
        </li>
        <li>
          <a href="#">Tour</a>
        </li>
        <li>
          <a href="#">Customers</a>
        </li>
        <li>
          <a href="#">Pricing and Plans</a>
        </li>
        <li>
          <a href="#">New Features</a>
        </li>
        <li>
          <a href="#">Education</a>
        </li>
      </ul>
    </div>

    <div>
      <ul>
        <li>
          <a href="#">Features</a>
        </li>
        <li>
          <a href="#">Tour</a>
        </li>
        <li>
          <a href="#">Customers</a>
        </li>
        <li>
          <a href="#">Pricing and Plans</a>
        </li>
        <li>
          <a href="#">New Features</a>
        </li>
        <li>
          <a href="#">Education</a>
        </li>
      </ul>
    </div>

    <div>
      <ul>
        <li>
          <a href="#">How To’s</a>
        </li>
        <li>
          <a href="#">Tour</a>
        </li>
        <li>
          <a href="#">Customers</a>
        </li>
        <li>
          <a href="#">Pricing and Plans</a>
        </li>
        <li>
          <a href="#">New Features</a>
        </li>
        <li>
          <a href="#">Education</a>
        </li>
      </ul>
    </div>

    <div>
      <ul>
        <li>Get in touch</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
      </ul>
    </div>

  </div>

</footer>
