<header class="header">

  <div class="container">

    <div class="logo-wrapper">
      <a>
        <img class="logo" src="img/logo.png" width="159" height="79" alt="#">
      </a>
    </div>

    <div class="middle">

      <ul class="address">
        <li>
          <a href="mailto:info@e-zakaz.ru">info@e-zakaz.ru</a>
        </li>
        <li>
          <a href="tel:+88002222222">8 (800) 222-22-22</a>
        </li>
        <li>
          <p>Ваш город: <span>Кемерово</span></p>
        </li>
      </ul>

      <ul class="how-to">
        <li>
          <a href="order-card.html">Создать задание</a>
        </li>
        <li>
          <a href="ispolnitel.html">Стать исполнителем</a>
        </li>
        <li>
          <button>Задать вопрос</button>
        </li>
      </ul>

    </div>

    <div class="hamburger-wrapper">
      <a href="#">
        <img class="hamburger" src="img/hamburger.png" width="18" height="15" alt="#">
      </a>
    </div>

  </div>

</header>
