/*
* Custom
*/
@import "../../node_modules/normalize.css/normalize";

@import "partials/mixins";

@import "partials/body";

@import "partials/fonts";

@import "partials/header";

@import "partials/top";

@import "partials/index-middle";

@import "partials/index-features";

@import "partials/index-services";

@import "partials/index-profit";

@import "partials/index-app";

@import "partials/header-order";

@import "partials/performer-top";

@import "partials/performer-features";

@import "partials/performer-starting";

@import "partials/performer-questions";

@import "partials/order-top";

@import "partials/order-features";

@import "partials/order-middle";

@import "partials/order-profit";

@import "partials/footer";
