body {
}

img {
  max-width: 100%;
  height: auto;
}

input {
  outline: none;
}

button {
  border: 0;

  background-color: inherit;

  cursor: pointer;

  outline: none;

  &:hover {
    opacity: 0.8;

    transition: 0.3s;
  }

  &:active {
    opacity: 0.6;
  }
}

.container {
  margin: 0 auto;
  max-width: 1180px;

  @include desktop {
    max-width: 96%;
    padding: 0 2%;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=checked].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
