.footer {
  padding-top: 75px;
  padding-bottom: 75px;

  background-color: #666666;
  color: #f6f7fa;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;

  @include mobile {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .container {
    display: flex;
    align-items: center;

    @include mobile {
      justify-content: space-between;
    }

    div {
      margin-right: 8%;
      min-width: 9%;

      // @include mobile {
      //   min-width: auto;
      // }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  li:first-child {
    margin-bottom: 20px;

    font-weight: 600;

    @include mobile {
      display: block;
    }
  }

  li {

    @include mobile {
      display: none;
    }
  }

  a {
    color: #f6f7fa;
    text-decoration: none;
  }
}
