.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;

  width: 100%;
  padding-top: 30px;
  height: 100px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-wrapper {
    flex-grow: 1;

    .logo {
      width: 159px;
      height: 79px;
    }
  }

  .middle {
    display: flex;
    flex-direction: column;

    @include tablet {
      display: none;
    }

    li {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
    }

    a:hover {
      color: #ffcc00;

      transition: 0.3s;
    }
  }

  .active {
    position: absolute;
    top: 0;
    left: 0;

    margin-right: 2%;
    padding-left: 2%;
    padding-right: 12%;
    padding-top: 30px;
    display: block;
    width: 100%;
    margin-right: 10px;
    height: 140px;
    flex-direction: row;
    align-items: center;

    background-color: #333333;

    box-sizing: border-box;

    @include mobile {
      padding-top: 15px;
      height: 260px;
      padding-right: 2%;
    }

    // .address {
    //   display: none;
    // }

    .address {

      @include mobile {
        flex-wrap: wrap;
        margin-right: 2%;
        margin-bottom: 40px;
      }

      li {

        &:nth-of-type(1),
        &:nth-of-type(3) {

          @include mobile {
            flex-basis: 50%;
            margin-right: 0;
          }
        }

        &:nth-of-type(2) {

          @include mobile {
            flex-basis: 100%;
            order: 1;
            margin-top: 5px;
            margin-right: 0;
          }
        }

        &:nth-of-type(3) {
          text-align: right;
        }

        a {

          @include mobile {
            font-size: 14px;
          }
        }
      }
    }

    .how-to {

      @include mobile {
        flex-direction: column;
        align-items: flex-start;
      }

      // a {
      //   text-decoration: none;
      //   padding: 16px 30px;

      //   color: #ffffff;
      //   font-family: "MyriadPro-Bold";
      //   font-size: 16px;
      //   font-weight: 700;

      //   box-shadow: 0 11px 16px rgba(14, 20, 32, 0.17);
      //   border-radius: 15px;
      //   background-color: #ffcc00;
      //   background-image: linear-gradient(to top, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%);
      // }

      li {
        @include mobile {
          margin-bottom: 30px;
        }
      }

      li:nth-of-type(3) {

        // @include forHamMenu {
        //   display: none;
        // }
      }
    }
  }

  .address {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;

    list-style: none;

    a {
      font-family: "MyriadPro-Bold", sans-serif;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-decoration: none;
    }

    p {
      margin: 0;
      padding: 0;

      color: #ffffff;
      font-family: "MyriadPro-Bold", sans-serif;
      font-size: 16px;
      font-weight: 700;

      select,
      a {
        font-weight: 400;
        text-decoration: underline;
        color: #ffffff;
        font-family: "MyriadPro-Regular", sans-serif;

        border: none;
        background: inherit;

        outline: none;
        appearance: none;
        cursor: pointer;
      }

      option {
        color: #000000;
      }
    }
  }

  .how-to {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;

    li:first-child {

      a {
        display: flex;
        align-items: center;

        &::after {
          content: "";

          display: block;
          width: 11px;
          height: 7px;
          margin-left: 8px;

          background-image: url("../img/arrow-down.png");
          background-repeat: no-repeat;
          background-position: 0 0;
        }
      }
    }

    a {
      font-family: "MyriadPro-Regular", sans-serif;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
    }

    button {
      padding: 15px 36px;

      color: #ffffff;
      font-family: "MyriadPro-Bold";
      font-size: 16px;
      font-weight: 700;

      box-shadow: 0 11px 16px rgba(14, 20, 32, 0.17);
      border-radius: 15px;
      background-color: #ffcc00;
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%);
    }
  }

  .hamburger-button {
    z-index: 10;

    width: 30px;
    height: 36px;
    display: none;
    padding: 0;
    margin-right: 15px;

    @include tablet {
      display: block;
    }

    svg {
      width: 30px;
      height: 36px;

      fill: #f9f9f4;
    }
  }
}

.fixed {
  background-color: rgba(0, 0, 0, 0.3);

  transition: 0.3s;
}
