.header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding-top: 30px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-wrapper {
    flex-grow: 1;

    .logo {
      width: 159px;
      height: 79px;
    }
  }

  .middle {
    display: flex;
    flex-direction: column;

    @include tablet {
      display: none;
    }

    li {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .active {
    position: absolute;
    top: 0;
    left: 0;

    margin-right: 2%;
    padding-left: 2%;
    padding-right: 10%;
    padding-top: 48px;
    display: block;
    width: 100%;
    margin-right: 10px;
    height: 140px;
    flex-direction: row;
    align-items: center;

    background-color: #333333;

    box-sizing: border-box;

    @include mobile {
      padding-top: 15px;
    }

    .address {
      display: none;
    }

    .how-to {

      @include mobile {
        flex-direction: column;
      }

      a {
        text-decoration: none;
        padding: 16px 30px;

        color: #ffffff;
        font-family: "MyriadPro-Bold";
        font-size: 16px;
        font-weight: 700;

        box-shadow: 0 11px 16px rgba(14, 20, 32, 0.17);
        border-radius: 15px;
        background-color: #ffcc00;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%);
      }

      li {
        @include mobile {
          margin-bottom: 30px;
        }
      }

      li:nth-of-type(3) {

        @include forHamMenu {
          display: none;
        }
      }
    }
  }

  .address {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;

    list-style: none;

    a {
      font-family: "MyriadPro-Bold", sans-serif;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-decoration: none;
    }

    p {
      margin: 0;
      padding: 0;

      color: #ffffff;
      font-family: "MyriadPro-Bold", sans-serif;
      font-size: 16px;
      font-weight: 700;

      select {
        font-weight: 400;
        text-decoration: underline;
        color: #ffffff;
        font-family: "MyriadPro-Regular", sans-serif;

        border: none;
        background: inherit;

        outline: none;
        appearance: none;
        cursor: pointer;
      }

      option {
        color: #000000;
      }
    }
  }

  .how-to {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;

    li:first-child {

      a {
        display: flex;
        align-items: center;

        &::after {
          content: "";

          display: block;
          width: 11px;
          height: 7px;
          margin-left: 8px;

          background-image: url("../img/arrow-down.png");
          background-repeat: no-repeat;
          background-position: 0 0;
        }
      }
    }

    a {
      font-family: "MyriadPro-Regular", sans-serif;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
    }

    button {
      padding: 15px 36px;

      color: #ffffff;
      font-family: "MyriadPro-Bold";
      font-size: 16px;
      font-weight: 700;

      box-shadow: 0 11px 16px rgba(14, 20, 32, 0.17);
      border-radius: 15px;
      background-color: #ffcc00;
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%);
    }
  }

  .hamburger-button {
    z-index: 10;

    width: 18px;
    height: 15px;
    display: none;
    padding: 0;

    @include tablet {
      display: block;
    }

    img {
      width: 18px;
      height: 15px;
    }
  }
}
