.index-services {
  position: relative;

  display: flex;
  height: 1093px;

  background-image: url("../img/index-services-bg.jpg");
  background-repeat: no-repeat;
  background-position: top right;

  overflow: hidden;

  @include tablet {
    height: 991px;
  }

  .layer {
    flex-basis: 50%;
    height: 253px;

    @include tablet {
      flex-basis: 100%;
      height: 150px;
    }

    &:nth-of-type(2) {
      @include tablet {
        display: none;
      }
    }
  }

  .layer:nth-of-type(1) {
    background-color: #f9c802;
  }

  .wrapper {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 253px;

    @include tablet {
      height: 150px;
    }
  }

  h2 {
    margin: 0;
    padding: 0;
    max-width: 46%;
    margin-top: 90px;

    color: #333333;
    font-family: "HelveticaNeueCyr-Light", sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 44px;

    @include tablet {
      max-width: 100%;
      margin-top: 50px;

      text-align: center;
    }

    @include mobile {
      margin-top: 40px;

      font-size: 24px;
    }
  }

  .wrapper-2 {
    position: absolute;
    top: 253px;
    left: 0;

    width: 100%;
    height: 840px;

    @include tablet {
      top: 150px;
    }

    .container {
      @include desktop {
        max-width: 100%;
        padding: 0;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;

      list-style: none;
    }

    li {
      flex-basis: 25%;

      @include desktop {
        flex-basis: 33.33333%;
      }

      @include tablet {
        flex-basis: 50%;
      }

      @include mobile {
        flex-basis: 100%;
      }
    }

    a {
      position: relative;

      display: block;
      width: 295px;
      height: 210px;

      text-decoration: none;

      border: 1px solid #999999;
      box-sizing: border-box;

      @include desktop {
        width: auto;
      }
    }

    img {
      width: 295px;
      height: 210px;

      @include desktop {
        width: 100%;
        object-fit: cover;
      }
    }

    p {
      position: absolute;
      top: calc(100% / 2 - 10px);
      left: 0;

      margin: 0;
      padding: 0;
      width: 100%;

      color: #333333;
      font-family: "HelveticaNeueCyr-Bold", sans-serif;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }
  }
}
