.index-features {
  position: relative;

  display: flex;
  height: 563px;

  .wrapper {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 563px;

    .container {
      display: flex;
      justify-content: space-between;
      height: 563px;

      h2 {
        margin: 0;
        padding: 0;
        margin-left: 50px;
        margin-top: 100px;
        max-width: 79%;
        margin-bottom: 30px;

        color: #ffffff;
        font-family: "HelveticaNeueCyr-Light", sans-serif;
        font-size: 40px;
        font-weight: 300;
      }

      ul {
        margin: 0;
        padding: 0;
        margin-left: 50px;

        list-style: none;
      }

      li {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        color: #ffffff;
        font-family: "HelveticaNeueCyr-Light", sans-serif;
        font-size: 20px;
        font-weight: 300;

        &:nth-of-type(1)::before {
          content: "";

          display: block;
          width: 50px;
          height: 50px;
          margin-right: 40px;

          background-image: url("../img/index-features-icon-1.png");
          background-repeat: no-repeat;
          background-position: 0 0;
        }

        &:nth-of-type(2)::before {
          content: "";

          display: block;
          width: 45px;
          height: 46px;
          margin-right: 46px;

          background-image: url("../img/order-features-1.png");
          background-repeat: no-repeat;
          background-position: 0 0;
        }

        &:nth-of-type(3)::before {
          content: "";

          display: block;
          width: 74px;
          height: 50px;
          margin-right: 40px;

          background-image: url("../img/order-features-3.png");
          background-repeat: no-repeat;
          background-position: 0 0;
        }
      }
    }

    .container > div {
      flex-basis: 50%;
    }

    .container > div:nth-of-type(1) {
      background-image: url("../img/index-features-bg.jpg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  .layer {
    flex-basis: 50%;
  }

  .layer:nth-of-type(2) {
    background-color: #333333;
  }
}

