.order-features {
  padding: 60px 0;

  background-color: #666666;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    list-style: none;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  li {
    display: flex;
    align-items: center;

    color: #ffffff;
    font-family: "HelveticaNeueCyr-Light", sans-serif;
    font-size: 20px;
    font-weight: 300;

    @include desktop {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    @include tablet {
      margin-bottom: 30px;
    }

    &:nth-of-type(1)::before {
      content: "";

      display: block;
      width: 45px;
      height: 46px;
      margin-right: 20px;

      background-image: url("../img/order-features-1.png");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &:nth-of-type(2)::before {
      content: "";

      display: block;
      width: 43px;
      height: 44px;
      margin-right: 20px;

      background-image: url("../img/order-features-2.png");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &:nth-of-type(3)::before {
      content: "";

      display: block;
      width: 50px;
      height: 50px;
      margin-right: 20px;

      background-image: url("../img/order-features-3.png");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &::before {
      @include tablet {
        margin-bottom: 30px;
      }
    }
  }
}
