.order-profit {
  padding: 90px 0;

  background-color: #f4f8fb;

  h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 60px;

    color: #2b303b;
    font-family: "Helvetica Neue Cyr", sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 55px;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    list-style: none;
  }

  li {
    margin-right: 2%;

    &:last-child {
      margin-right: 0;
    }
  }

  h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    color: #2b303b;
    font-family: "Helvetica Neue Cyr", sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 54.98px;
  }

  p {
    margin: 0;
    padding: 0;

    color: #696f7c;
    font-family: "Helvetica Neue Cyr", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 29.99px;
  }
}
