.order-top {
  padding-top: 90px;
  padding-bottom: 70px;

  background-color: #ecf1f4;

  @include mobile {
      padding-top: 40px;
      padding-bottom: 30px;
    }

  h1 {
    margin: 0;
    padding: 0;
    max-width: 50%;
    margin-bottom: 20px;

    color: #333333;
    font-family: "HelveticaNeueCyr-Light", sans-serif;
    font-size: 70px;
    font-weight: 300;
    line-height: 72px;

    @include tablet {
      max-width: 60%;
    }

    @include mobile {
      max-width: 88%;

      font-size: 50px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;

    list-style: none;

    @include mobile {
      display: none;
    }
  }

  li {

    &::after {
      content: "/";
      margin: 0 2%;

      color: #333333;
      font-family: "MyriadPro-Regular", sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 30px;
    }

    &:last-child::after {
      content: "";
    }
  }

  a {
    color: #333333;
    font-family: "MyriadPro-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;

    text-decoration: none;
  }
}
