.order-middle {
  padding: 100px 0;

  background-color: #ecf1f4;

  .container {
    display: flex;
    justify-content: space-between;

    @include desktop {
      flex-direction: column;
    }
  }

  .order-order {
    flex-basis: 81%;
    margin-right: 20px;

    @include desktop {
      margin-bottom: 30px;
      margin-right: 0;
    }

    h2 {
      margin: 0;
      padding: 0;
      margin-bottom: 30px;

      color: #333333;
      font-family: "HelveticaNeueCyr-Light", sans-serif;
      font-size: 44px;
      font-weight: 300;
      line-height: 72px;
    }

    p {
      margin: 0;
      padding: 0;
      margin-bottom: 12px;

      color: #666666;
      font-family: "HelveticaNeueCyr-Light", sans-serif;
      font-size: 18px;
      font-weight: 300;
    }

    textarea {
      width: 100%;
      padding-left: 28px;
      padding-top: 20px;
      margin-bottom: 25px;

      border: none;
      border-radius: 15px;
      background-color: #ffffff;

      font-size: 16px;
      line-height: 18px;
      font-family: "MyriadPro-Regular", sans-serif;
      color: #666666;

      box-sizing: border-box;
      resize: none;
      outline: none;
    }

    textarea[name="task-full"] {
      height: 123px;
    }

    .wrapper {
      display: flex;
      justify-content: space-between;

      @include mobile {
        flex-direction: column;
      }
    }

    .wrapper > select {
      flex-basis: 50%;
    }

    .wrapper:nth-of-type(2) {
      @include tablet {
        margin-bottom: 30px;
      }
    }

    select {
      padding-left: 28px;
      padding-top: 20px;
      padding-bottom: 19px;
      margin-bottom: 25px;

      border: none;
      background-color: #ffffff;
      background-image: url("../img/arrow-down-black.png");
      background-repeat: no-repeat;
      background-position: 95% 25px;

      border-radius: 15px;

      font-size: 16px;
      line-height: 18px;
      font-family: "MyriadPro-Regular", sans-serif;
      color: #666666;

      appearance: none;
      outline: none;
    }

    select[name="problem"] {
      margin-right: 20px;

      @include mobile {
        margin-right: 0;
      }
    }

    option {
      font-family: "MyriadPro-Regular", sans-serif;
      font-size: 16px;
      color: #666666;
    }

    .drop {
      flex-basis: 50%;
      margin-right: 20px;

      @include mobile {
        margin-bottom: 20px;
        margin-right: 0;
      }
    }

    .drop-wrapper {
      display: flex;
      justify-content: space-between;

      label {
        width: 95px;
        height: 57px;

        border-radius: 15px;
        background-color: #333333;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%);
        background-image: url("../img/clip.png");
        background-position: center;
        background-repeat: no-repeat;

        cursor: pointer;
      }

      .my {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
    }

    .place-wrapper {
      flex-basis: 50%;

      @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      select {
        width: 100%;

        @include tablet {
          margin-bottom: 0;
        }
      }
    }

    input[type="name"] {
      flex-basis: 50%;
      margin-right: 20px;
      padding-left: 28px;
      padding-top: 20px;
      padding-bottom: 17px;
      margin-bottom: 25px;

      border-radius: 15px;
      background-color: #ffffff;
      border: none;

      font-family: "MyriadPro-Regular", sans-serif;
      font-size: 16px;
      color: #666666;

      outline: none;
      box-sizing: border-box;

      @include tablet {
        margin-right: 0;
      }
    }

    input[type="tel"] {
      flex-basis: 50%;
      padding-left: 28px;
      padding-top: 20px;
      padding-bottom: 17px;
      margin-bottom: 25px;

      border-radius: 15px;
      background-color: #ffffff;
      border: none;

      font-family: "MyriadPro-Regular", sans-serif;
      font-size: 16px;
      color: #666666;

      outline: none;
      box-sizing: border-box;
    }

    .order-button {
      padding: 20px 40px;

      color: #ffffff;
      font-family: "MyriadPro-Bold", sans-serif;
      font-size: 16px;
      font-weight: 700;

      border-radius: 15px;
      background-color: #ffcc00;
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%);
    }
  }

  .order-questions {
    flex-basis: 33%;

    h2 {
      margin: 0;
      padding: 0;
      margin-bottom: 60px;

      color: #333333;
      font-family: "HelveticaNeueCyr-Light", sans-serif;
      font-size: 44px;
      font-weight: 300;
      line-height: 72px;
    }

    .questions-wrapper {
      padding-left: 18px;
      padding-top: 20px;

      background-color: #ffffff;

      .questions-list-inner {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        list-style: none;

        .questions-item0,
        .questions-item1,
        .questions-item2,
        .questions-item3,
        .questions-item4,
        .questions-item5,
        .questions-item6,
        .questions-item7,
        .questions-item8,
        .questions-item9,
        .questions-item10,
        .questions-item11,
        .questions-item12,
        .questions-item13,
        .questions-item14,
        .questions-item15,
        .questions-item16,
        .questions-item17 {
          position: relative;

          max-height: 37px;
          overflow-y: hidden;
        }

        .closed {
          max-height: 100px;
        }

        p {
          margin: 0;
          padding: 0;
          margin-bottom: 20px;

          color: #666666;
          font-family: "HelveticaNeueCyr-Light", sans-serif;
          font-size: 16px;
          font-weight: 300;

          cursor: pointer;
        }

        p:nth-of-type(2) {
          padding-left: 10px;

          opacity: 0.8;
        }
      }
    }
  }
}
