.performer-starting {
  padding-top: 110px;
  padding-bottom: 110px;

  background-color: #333333;

  h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;

    color: #ffffff;
    font-family: "Helvetica Neue Cyr", sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 55px;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;

    list-style: none;

    li {
      margin-right: 2%;

      &:first-child {

        p:nth-of-type(2) {
          margin-bottom: 30px;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    p:nth-of-type(1) {
      margin: 0;
      padding: 0;
      margin-bottom: 15px;

      opacity: 0.12;
      color: #ffffff;
      font-family: "Helvetica Neue Cyr", sans-serif;
      font-size: 120px;
      font-weight: 900;
      line-height: 72px;
    }

    p:nth-of-type(2) {
      margin: 0;
      padding: 0;

      color: #ffffff;
      font-family: "Helvetica Neue Cyr", sans-serif;
      font-size: 20px;
      font-weight: 300;
      line-height: 30px;
    }

    button {
      padding: 20px 35px;

      color: #ffffff;
      font-family: "MyriadPro", sans-serif;
      font-size: 16px;
      font-weight: 700;

      border-radius: 15px;
      background-color: #ffcc00;
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%);
    }
  }
}
