.performer-top {
  height: 890px;
  padding-top: 300px;

  background-color: #333333;
  background-image: url("../img/performer-top-bg.jpg");
  background-repeat: no-repeat;
  background-position: 90% 0;

  box-sizing: border-box;

  @include desktop {
    background-position: 50% 0;
  }

  @include tablet {
    background-position: 29% 0;
  }
  @include mobile {
    padding-top: 200px;
  }

  h1 {
    margin: 0;
    padding: 0;
    margin-left: 35%;
    margin-bottom: 20px;

    color: #ffffff;
    font-family: "HelveticaNeueCyr-Light", sans-serif;
    font-size: 70px;
    font-weight: 300;
    line-height: 72px;

    @include tablet {
      margin-left: 0;
    }

    @include mobile {
      font-size: 45px;
    }
  }

  p {
    margin: 0;
    padding: 0;
    margin-left: 35%;
    margin-bottom: 60px;

    color: #ffffff;
    font-family: "MyriadPro-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;

    @include tablet {
      margin-left: 0;
    }
  }

  .links-wrapper {
    margin-left: 35%;

    @include tablet {
      margin-left: 0;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  a {
    padding: 20px 26px;
    margin-right: 8px;

    color: #ffffff;
    font-family: "MyriadPro-Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;

    border-radius: 15px;
    background-color: #ffcc00;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%);

    &:hover {
      opacity: 0.8;

      transition: 0.3s;
    }

    &:active {
      opacity: 0.6;
    }

    @include mobile {
      text-align: center;
    }

    &:first-child {
      @include mobile {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
