.performer-questions {
  padding-top: 100px;
  padding-bottom: 100px;

  h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    max-width: 48%;

    color: #2b303b;
    font-family: "Helvetica Neue Cyr", sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 55px;
  }

  .questions-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    list-style: none;

    li {
      flex-grow: 1;
    }
  }

  .questions-list-inner {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    list-style: none;

    .questions-item0,
    .questions-item1,
    .questions-item2,
    .questions-item3,
    .questions-item4,
    .questions-item5,
    .questions-item6,
    .questions-item7,
    .questions-item8,
    .questions-item9,
    .questions-item10,
    .questions-item11,
    .questions-item12,
    .questions-item13,
    .questions-item14,
    .questions-item15,
    .questions-item16,
    .questions-item17 {
      position: relative;

      max-height: 37px;
      overflow-y: hidden;

      &::after {
        content: "";
        position: absolute;
        top: 5px;
        right: 20px;

        width: 11px;
        height: 7px;

        background-image: url("../img/arrow-down-black.png");
        background-repeat: no-repeat;
        background-position: 0 0;

        cursor: pointer;
      }
    }

    .closed {
      max-height: 100px;

      &::after {
        content: "";
        position: absolute;
        top: 5px;
        right: 20px;

        width: 11px;
        height: 7px;

        background-image: url("../img/arrow-down-black.png");
        background-repeat: no-repeat;
        background-position: 0 0;

        transform: rotate(180deg);

        cursor: pointer;
      }
    }

    p {
      margin: 0;
      padding: 0;
      margin-bottom: 20px;

      color: #666666;
      font-family: "Helvetica Neue Cyr", sans-serif;
      font-size: 16px;
      font-weight: 300;

      cursor: pointer;
    }

    p:nth-of-type(2) {
      padding-left: 10px;

      opacity: 0.8;
    }
  }
}
