.top {
  height: 890px;
  padding-top: 300px;

  background-color: #333333;
  background-image: url("../img/index-top-bg.jpg");
  background-repeat: no-repeat;
  background-position: -26px 0;

  box-sizing: border-box;

  @include desktop {
    background-position: 50% 0;
  }

  @include mobile {
    padding-top: 230px;

    background-position: 30% 0;
  }

  h1 {
    margin: 0;
    padding: 0;
    margin-left: 35%;
    margin-bottom: 20px;
    max-width: 50%;

    color: #ffffff;
    font-family: "HelveticaNeueCyr-Light", sans-serif;
    font-size: 70px;
    font-weight: 300;
    line-height: 72px;

    @include desktop {
      margin-left: 10%;
    }

    @include tablet {
      margin-left: 0;
      max-width: 70%;
    }

    @include mobile {
      max-width: 82%;
    }
  }

  p {
    margin: 0;
    padding: 0;
    margin-left: 35%;
    margin-bottom: 60px;

    color: #ffffff;
    font-family: "MyriadPro-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;

    @include desktop {
      margin-left: 10%;
    }

    @include tablet {
      margin-left: 0;
    }
  }

  .search-wrapper {
    margin-left: 35%;
    margin-bottom: 20px;

    @include desktop {
      margin-left: 10%;
    }

    @include tablet {
      margin-left: 0;
      display: flex;
      justify-content: space-between;
    }

    @include mobile {
      flex-direction: column;
    }

    input {
      height: 57px;
      width: 535px;
      padding-left: 28px;
      margin-right: 7px;

      color: #666666;
      font-family: "MyriadPro-Regular", sans-serif;
      font-size: 16px;
      font-weight: 400;

      border: none;
      border-radius: 15px;
      background-color: #ffffff;
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%);

      box-sizing: border-box;

      @include tablet {
        flex-grow: 1;
      }

      @include mobile {
        margin-bottom: 10px;
        width: 100%;
      }
    }

    button {
      padding: 20px 65px;

      color: #ffffff;
      font-family: "MyriadPro-Bold", sans-serif;
      font-size: 16px;
      font-weight: 700;

      box-shadow: 0 11px 16px rgba(14, 20, 32, 0.17);
      border-radius: 15px;
      background-color: #ffcc00;
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%);
    }
  }

  p:nth-of-type(2) {
    font-family: "MyriadPro-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;

    a {
      color: #ffcc00;
      text-decoration: underline;
    }
  }
}
